@font-face {
    font-family: Unbounded;
    src: url("/src/fonts/unbounded/Unbounded.ttf") format("truetype");
}

@font-face {
    font-family: Unbounded-500;
    src: url("/src/fonts/unbounded/Unbounded-Medium.ttf") format("truetype");
}

@font-face {
    font-family: Unbounded-300;
    src: url("/src/fonts/unbounded/Unbounded-Light.ttf") format("truetype");
}

@font-face {
    font-family: Inter;
    src: url("/src/fonts/inter/Inter.ttf") format("truetype");
}

.font-preloading {
    font-size: 100px;
    display: flex;
    justify-content: center;
}

.Unbounded,
.Unbounded-500,
.Unbounded-300,
.Inter {
    margin: 0 auto;
    color: white;
}

body,
html {
    background-color: #131313;
    margin: 0;
    height: 100%;
}